<h1>ngOnChanges simple</h1>
<input type="text" [(ngModel)]="data">
<button>Shange</button>
<app-life-cycles [data]="data"></app-life-cycles>

<h1>Not Lazy Component</h1>
<app-test></app-test>

<h1>Routing test init</h1>
<button routerLink="/first">first</button><br>
<button routerLink="/second">second</button><br>
<button routerLink="/children">children</button><br>
<button routerLink="/lazy">lazy</button><br>
<router-outlet></router-outlet>
<button (click)="ngOnDestroy()">Destroy</button>


<h1>Ng On Changes</h1>
<app-ng-on-changes [hero]="hero" [power]="power"></app-ng-on-changes>
<p>name</p>
<input type="text" [(ngModel)]="hero.name"><br>
<button (click)="newHero(hero.name)">newHero</button>
<p>power</p>
<input type="text" [(ngModel)]="power">

<hr>

<h1>Ng Do Check</h1>
<app-ng-do-check [hero]="hero" [power]="power"></app-ng-do-check>
<p>name</p>
<input type="text" [(ngModel)]="hero.name"><br>
<button (click)="newHero(hero.name)">newHero</button>
<p>power</p>
<input type="text" [(ngModel)]="power">


<h1>Ng After View Init</h1>
<app-after-view-init></app-after-view-init>

